* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 1.5px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fafafa;
  background-color: #1c1c1c;
}

.mainContainer {
  font-family: serif;
  line-height: 1.6;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Sen", "sans-serif";
}

h1 {
  font-size: min(4em, 15vw);
  text-align: left;
  margin: 0;
  font-family: sans-serif;
}

h2 {
  font-size: min(3em, 10vw);
}

h3 {
  text-decoration: none;
  border-bottom: 1px solid #5c9cf0;
}

h4 {
  font-size: min(1.5em, 5vw);
  text-align: left;
  font-family: arial;
  text-decoration: underline;
  text-decoration-color: #cae7b9;
  text-decoration-thickness: 5px;
}

p {
  font-size: min(16px, 3vw);
  width: 90%;
}

a {
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* ================================= 
   Navbar 
 ==================================== */

.navbar {
  font-family: raleway;
  position: fixed;
  width: 100vw;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  display: none;
  position: absolute;
  flex-direction: column;
  width: 100%;
  transition-duration: 0.5s;
  background: #1c1c1c;
}

@media (min-width: 769px) {
  .main-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  #hamburgerButton {
    display: none;
  }
}

@media (max-width: 769px) {
  a:hover {
    width: 100%;
  }
}

.main-nav.show {
  display: flex;
}

.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}

.main-nav a {
  color: #fafafa;
  font-size: 0.7em;
}

.main-nav a:hover {
  color: #5c9cf0;
  font-weight: 900;
}

#hamburger {
  display: none;
}

#hamburger:checked+div {
  display: none;
}

.nav-btn {
  color: white;
  background-color: #1c1c1c;
}

button {
  color: black;
  cursor: pointer;
  width: 20vw;
  height: 5vh;
  transition-duration: 0.4s;
  font-weight: 900;
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: #000000;
}

.btn {
  display: block;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  line-height: 0.5;
  border-radius: 5px;
  background: #1c1c1c;
  padding: 0.5em 1.5em;
  color: white;
  outline: 2px solid #2694e8;
  border: 2px solid #2694e8;
  outline-offset: -2px;
  transition: outline-offset 100ms ease;
}

.btn:hover,
.btn:focus {
  outline-offset: 2px;
  color: white;
  outline: 3px solid #2694e8;
  border: 2px solid #2694e8;
  background: #1c1c1c;
  ;
}

/* ================================= 
   FirstPage
 ==================================== */
.name-title {
  font-size: 1.25em;
  font-family: "Kaushan Script", cursive;
  color: #2694e8;
}

.home-container {
  display: flex;
}

.main-50-left {
  flex: 1;
  padding-top: 5%;
}

.main-50-right {
  padding-top: 5%;
  margin-right: 0;
  flex: 1;
}

.about {
  margin: 0 auto;
  background-color: #f2ecb6;
}

.job-title {
  font-weight: 800;
  font-size: 1.25rem;
  color: #2694e8;
}

.item-b {
  margin: 0 auto;
  text-align: left;
  font-family: sans-serif;
}

img {
  height: 125px;
  width: 125px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10%;
  box-shadow: 0 0 2px 2px #5c9cf0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 769px) {
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
}

@media (max-width: 756px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .home-container {
    flex-direction: column;
  }

  .main-50-left {
    padding-left: 5%;
  }

  .job-title {
    font-size: 1.25em;
  }
}

/* ================================= 
  Skills
==================================== */

/* ================================= 
  Projects
==================================== */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.projects h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 20px;
}

@media (max-width: 769px) {
  .project-grid {
    display: flex;
    flex-direction: column;
  }
}

.project-card {
  background-color: #2e2d2d;
  text-align: center;
  border-radius: 10px;
  padding: 2rem;
}

.project-card img {
  min-width: 90%;
  border-radius: 0px;
  object-fit: fill;
}


/* ================================= 
  Contact
==================================== */


.contact-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 769px) {
  #contact {
    display: flex;
    flex-direction: column;
  }
}

.contactContainer {
  padding: 10px;
  border-radius: 4px;
  max-width: 400px;
}

.socials {
  grid-area: socials;
  padding: 1rem;
}

.socials-title,
.social-link {
  font-family: raleway;
  font-weight: 900;
}

.contact-title {
  grid-area: title;
  place-self: center;
}

@media (max-width: 769px) {
  .contactContainer {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }
}

.contactContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.github,
.linkedin {
  display: flex;
  align-items: center;
}

.social-svg {
  width: 40px;
  height: 40px;
  fill: white;
  margin-right: 5px;
}

.social-link:visited,
.social-link:active {
  color: #2694e8;
}

.social-link:hover {
  color: white;
}

.contactContainer input[type="text"],
.contactContainer textarea {
  width: 100%;
  padding: 10px;
  background-color: #2e2d2d;
  border-radius: 4px;
  resize: vertical;
  color: white;
}

.contactContainer label {
  font-weight: bold;
  font-family: raleway;
}