* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
  background-color: #171717;
}

img {
  max-width: 95vw;
}

section {
  height: 100vh;
}


/* Navbar */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #aaf7a8;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #aaf7a8;
	font-size: .70em;
}

.main-nav a:hover {
	color: #718daa;
}

.main-nav a.active {
  background-color: #aaf7a8;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}


.fa {
  margin-right: 2px;
}


.header {
	padding-top: .5em;
	padding-bottom: .5em;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  position: sticky;
  top: 0;
  background-color: #171717;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
      }
      .skill, .intro{
        margin-left: 20px;
      }
      .icons {
        margin-left: 50px;
      }
	}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

@media (max-width: 769px) {
  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .me {
    display: none;
  }
}

/* Home 1st Section*/

.waves {
  position: absolute;
  z-index: -1;
  margin-top: 450px;
}

.wavesTwo {
  position: absolute;
  z-index: -1;
  transform: scaleY(-1);
  
}

.home {
   display: flex;
   margin-top:27vh;
   margin-left: auto;
   margin-right: auto;  
   justify-content: center;
}

.me {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    order: 0;
    box-shadow: 2px 2px;
    margin-left: 10px;
}

.skills, .intro {
    order: 1;
    font-size: 24px;
}

.callum {
font-size: clamp(2rem, 4vw, 4rem);
font-weight: bold;
color: #faeda2;
margin-bottom: 0;
}

.job-title {
    margin-top: 0;
color: #f79b7c;
}

.icons {
    height: 50px;
    width: 50px;
    align-items: center;
    margin: 0 35x;
}


/* About 2nd Section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 600px;
  color: white;
}

  /* Projects 3rd Section */
.projects {
    display: flex;
    border: bold white 2px;
    justify-content: center;
    align-items: center;
}

.rockPaperScissors {
  display: flex;
  justify-content: center;
  width: 40rem;
  height: 15rem;
  border-radius: 10px;
}


/* Contact 4th Section*/
.contact {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 200px;
}



  /* Footer */
.footer {
    display: flex;
    border: bold white 2px;
    justify-content: center;
}