* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 1.5px;
  }
  
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mainContainer {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  background-color: #5b5a5a;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(100%2c 160%2c 215%2c 1)'%3e%3c/rect%3e%3cpath d='M1984 1080L0 1080 L0 722.51Q48.36 674.87%2c 96 723.23Q141.44 608.67%2c 256 654.11Q301.81 539.92%2c 416 585.74Q489.27 499.01%2c 576 572.29Q704.08 540.37%2c 736 668.44Q805.28 641.73%2c 832 711.01Q868.2 651.21%2c 928 687.41Q946.5 545.91%2c 1088 564.41Q1180.63 497.03%2c 1248 589.66Q1303.19 548.85%2c 1344 604.04Q1459.51 559.54%2c 1504 675.05Q1537.31 548.36%2c 1664 581.67Q1769.53 527.2%2c 1824 632.73Q1952.47 601.2%2c 1984 729.68z' fill='rgba(239%2c 239%2c 239%2c 1)'%3e%3c/path%3e%3cpath d='M2016 1080L0 1080 L0 818.7Q31.12 753.83%2c 96 784.95Q101.46 694.41%2c 192 699.87Q277.61 625.48%2c 352 711.08Q468.67 667.75%2c 512 784.42Q602.61 715.02%2c 672 805.63Q745.06 782.69%2c 768 855.75Q835.34 763.09%2c 928 830.42Q938.62 745.03%2c 1024 755.65Q1048.57 684.22%2c 1120 708.8Q1160.27 653.07%2c 1216 693.33Q1316.16 633.49%2c 1376 733.65Q1477.41 675.07%2c 1536 776.48Q1600.33 680.81%2c 1696 745.14Q1801.74 690.88%2c 1856 796.63Q1927.09 707.72%2c 2016 778.81z' fill='rgba(186%2c 187%2c 188%2c 1)'%3e%3c/path%3e%3cpath d='M2048 1080L0 1080 L0 979.49Q8.5 891.99%2c 96 900.48Q132.06 840.54%2c 192 876.59Q301.7 826.29%2c 352 935.99Q432.77 920.76%2c 448 1001.53Q484.29 877.82%2c 608 914.11Q624.98 835.09%2c 704 852.06Q738.4 790.46%2c 800 824.86Q925.71 790.57%2c 960 916.27Q1015.27 811.54%2c 1120 866.81Q1179.23 830.04%2c 1216 889.27Q1298.53 875.8%2c 1312 958.33Q1379.36 865.68%2c 1472 933.04Q1546.3 911.34%2c 1568 985.64Q1586.1 843.74%2c 1728 861.83Q1790.76 764.59%2c 1888 827.35Q1996.41 775.76%2c 2048 884.17z' fill='rgba(141%2c 139%2c 139%2c 1)'%3e%3c/path%3e%3cpath d='M1952 1080L0 1080 L0 1124.59Q22.73 1051.32%2c 96 1074.05Q84.31 966.36%2c 192 954.67Q330.21 932.88%2c 352 1071.09Q449.88 1008.96%2c 512 1106.84Q546.23 981.07%2c 672 1015.3Q691.63 938.93%2c 768 958.57Q822.81 917.38%2c 864 972.2Q1007.98 956.18%2c 1024 1100.15Q1079.03 995.18%2c 1184 1050.22Q1224.77 930.99%2c 1344 971.76Q1457.1 924.86%2c 1504 1037.95Q1570.41 944.36%2c 1664 1010.77Q1699.41 950.18%2c 1760 985.6Q1839.97 969.58%2c 1856 1049.55Q1896.09 993.63%2c 1952 1033.72z' fill='rgba(91%2c 90%2c 90%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-image: no-repeat;
  background-repeat: no-repeat;
}

.overlay {
    padding: 0 10vw;
    background: #faeda2;
    background: -webkit-radial-gradient(top right, #faeda2 0%, #FFFFFF00 60%);
    background: -moz-radial-gradient(top right, #faeda2 0%, #FFFFFF00 60%);
    background: radial-gradient(to bottom left, #faeda2 0%, #FFFFFF00 60%);
    background-repeat:no-repeat;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
}

img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 10px;
}
.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1{
  font-size: min(4em, 15vw);
  text-align: center;
  margin-bottom: .3em;
  color: #faeda2;
  font-family: "raleway";
}


h2 {
  color: white;
  font-size: min(4em, 13vw);
  text-decoration: underline;
  text-decoration-color: #faeda2;
}

h4{
  font-size: min(2em, 8vw);
  text-align: center;
  color: white;
  margin-top: 0;
  font-family: arial;
}

p {
  color: white;
  font-size: min(16px, 3vw);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  min-height: 100vh;
/*   outline: 10px solid red; */
}

/* ================================= 
   Navbar 
 ==================================== */

.navbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: absolute;
  width: 100vw;
  margin: 0 0 -100px;
  top: 0;
  font-family: raleway;
  background: rgba(0,0,0,0.3)
}



.main-nav {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}

.main-nav a {
  color: white;
  font-size: 0.7em;
}

.main-nav a:hover {
  color: #718daa;
}

.about {
  display: flex;
  flex-wrap: wrap;
}





/* ================================= 
  Skills
==================================== */

.skills-container,
.skills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-container,
.skills-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-container,
.skills-title,
.skills-container,
.skills-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills {
  height: 100%;
} *

.devicons {
  color: black;
}

.skills p {
  font-weight: lighter;
}

.skills-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6% auto;
}

.skills-title {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin: 10px;
  padding: 10px;
}

.skills-title span {
  font-size: 6.5rem;
}

.skills-title span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #faeda2;
}

.skills-title p {
  text-align: center;
  font-size: 1.5rem;
}
.mySkills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}



/* ================================= 
  Projects
==================================== */

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}


img {
  margin-top: 20px;
  border-radius: 3%;
}

.projectIntro {
  color: white;
}
.projectIntroText {
  color: #faeda2;
}


/* ================================= 
  Contact
==================================== */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

label {
  color: white;
}

input[type="submit"] {
  background-color: #faeda2;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact {
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* Footer */
.footer {
  display: flex;
  border: bold white 2px;
  justify-content: center;
}


#hamburger{
  display: none;
}

#hamburger:checked + div {
  display: none;
}